AWAPI_Admin/Service References/AWAPI_ContentService/ContentService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AWAPI_Data.CustomEntities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AWAPI_Data.CustomEntities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ContentExtended">
    <xs:sequence>
      <xs:element minOccurs="0" name="alias" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="contentId" type="xs:long" />
      <xs:element minOccurs="0" name="contentType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="createDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="eventEndDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="eventStartDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="imageurl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isCommentable" type="xs:boolean" />
      <xs:element minOccurs="0" name="isEnabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="lastBuildDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="lineage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="link" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="parentContentId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="pubDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="pubEndDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="siteId" type="xs:long" />
      <xs:element minOccurs="0" name="sortOrder" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContentExtended" nillable="true" type="tns:ContentExtended" />
  <xs:complexType name="ArrayOfContentExtended">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ContentExtended" nillable="true" type="tns:ContentExtended" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContentExtended" nillable="true" type="tns:ArrayOfContentExtended" />
  <xs:complexType name="ArrayOfContentCustomField">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ContentCustomField" nillable="true" type="tns:ContentCustomField" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContentCustomField" nillable="true" type="tns:ArrayOfContentCustomField" />
  <xs:complexType name="ContentCustomField">
    <xs:sequence>
      <xs:element minOccurs="0" name="applyToSubContents" type="xs:boolean" />
      <xs:element minOccurs="0" name="createDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="customFieldId" type="xs:long" />
      <xs:element minOccurs="0" name="defaultValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fieldContentId" type="xs:long" />
      <xs:element minOccurs="0" name="fieldContentTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fieldType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isEnabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="maximumLength" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="maximumValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="minimumValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="regularExpression" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sortOrder" type="xs:int" />
      <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="valueContentId" type="xs:long" />
      <xs:element minOccurs="0" name="valueTitle" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContentCustomField" nillable="true" type="tns:ContentCustomField" />
  <xs:complexType name="ArrayOfContentCustomFieldValueExtended">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ContentCustomFieldValueExtended" nillable="true" type="tns:ContentCustomFieldValueExtended" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContentCustomFieldValueExtended" nillable="true" type="tns:ArrayOfContentCustomFieldValueExtended" />
  <xs:complexType name="ContentCustomFieldValueExtended">
    <xs:sequence>
      <xs:element minOccurs="0" name="contentId" type="xs:long" />
      <xs:element minOccurs="0" name="createDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="cultureCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="customFieldId" type="xs:long" />
      <xs:element minOccurs="0" name="customFieldValueId" type="xs:long" />
      <xs:element minOccurs="0" name="fieldValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lastBuildDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContentCustomFieldValueExtended" nillable="true" type="tns:ContentCustomFieldValueExtended" />
</xs:schema>